%button-simple {
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  border: none;
  outline: none;
  width: 176px;
  height: 44px;
  background-color: #fc842d;
  border-radius: 30px;
  @include my-font-styles(#fff, 100%, 14px, 700);
  letter-spacing: 0.04em;
  @media (min-width: 768px) and (max-width: 1279px)  {
    margin-right: 0;
    margin-left: 0;
  }
}