@import "../../static/scss/mixins";
@import "../../static/scss/components/button";

.section {
  background-color: #fff;
  height: 100%;
}

.dailySection {
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 80px;
  width: 290px;
  @media (min-width: 768px) {
    padding-top: 60px;
    width: 594px;
  }
  @media (min-width: 1280px) {
    width: 690px;
  }
}

.dailySectionTitle {
  @include my-font-styles(#212121, 26px, 18px, 700);
  margin-bottom: 40px;
  @media (min-width: 768px) {
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
  }
}

.dailySectionBlock {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  @media (min-width: 768px) {
    width: 330px;
  }
}

.caloriesValue {
  @include my-font-styles(#264061, 58px, 48px, 700);
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 20px;
  @media (min-width: 768px) {
    margin-bottom: 12px;
  }
  &:after {
    margin-top: 30px;
    content: "";
    display: block;
    height: 1px;
    background-color: #e0e0e0;
  }
}
.caloriesValueSpan {
  font-size: 18px;
}

.productsListTitle {
  @include my-font-styles(#212121, 100%, 14px, 700);
  letter-spacing: 0.04em;
  margin-bottom: 22px;
}
.productsItemCategory {
  text-transform: capitalize;
}

.productsItem {
  @include my-font-styles(#9b9faa, 100%, 14px, 700);
  letter-spacing: 0.04em;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.buttonSubmitBlock {
  display: flex;
}

.buttonSubmit {
 @extend %button-simple;
  margin-left: auto;
  margin-right: auto;
}