@import "../../static/scss/mixins";


.inputBlock {
  position: relative;
  height: 48px;
  @media (min-width: 768px) {
    width: 240px;
  }
}

.error {
  position: absolute;
  top: 35px;
}

.formInput {
  display: inline-block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  outline: none;
  @include my-font-styles(#212121, 1.2, 14px, 700);
  letter-spacing: 0.04em;
  padding-bottom: 10px;
  &::placeholder {
    @include my-font-styles(#9b9faa, 100%, 14px, 700);
  }
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}