@import "../../static/scss/mixins";

.nav {
  display: flex;
  height: 80px;
  align-items: center;
  & a:first-child {
    margin-right: auto;
    @media (min-width: 1280px) {
      margin-right: 0;
    }
  }
  @media (min-width: 1280px) {
    padding-top: 90px;
    height: auto;
  }
}

.verticalSeparator {
  margin: auto 22px auto 22px;
  width: 2px;
  height: 32px;
  background-color: #e0e0e0;
  @media (max-width: 1279px) {
    display: none;
  }
}

.navList {
  display: flex;
  align-items: center;
}

.navListPages {
  display: flex;
  align-items: center;
  @media (min-width: 1280px) {
    display: none;
  }
}

.navListTablet {
  @media (max-width: 1279px) {
    display: none;
  }
}

.navListItem:not(:last-child) {
  margin-right: 22px;
}

.navListItemLink {
  @include my-font-styles(#9b9faa, 1.2, 14px, 700);
  text-transform: uppercase;
}

.navListItemLinkActive {
  color: #212121;
}

.burgerMenuBlock,  {
  display: flex;
  align-items: center;
  @media (min-width: 1280px) {
    display: none;
  }
}
.userInfoBlock {
  display: none;
  @media (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    align-items: center;
  }
}