@import "../../static/scss/mixins";

.nav {
  display: flex;
}

.verticalSeparator {
  margin: auto 22px auto 22px;
  width: 2px;
  height: 32px;
  background-color: #e0e0e0;
}

.navList {
  @media (min-width: 1280px) {
    display: flex;
    align-items: center;
  }
}

.navListItem:not(:last-child) {
  margin-bottom: 30px;
  @media (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media (min-width: 1280px) {
    margin-right: 22px;
    margin-bottom: 0;
  }
}

.navListItemLink {
  @include my-font-styles(#9b9faa, 1.2, 14px, 700);
  text-transform: uppercase;
}

.navListItemLinkActive {
  color: #fff;
  @media (min-width: 1280px) {
    color: #212121;
  }
}