.modalContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 80px;
  left: 0;
  background-color: rgba(33, 33, 33, 0.12);
  @media (min-width: 768px) {
    top: 0;
  }
}

.modalHeader {
  height: 40px;
  padding-left: 15px;
  background-color: #eff1f3;
  display: flex;
  align-items: center;
  @media (min-width: 768px) {
    display: none;
  }
}

.returnBtnBlock {
  display: block;
  width: 290px;
  margin-left: auto;
  margin-right: auto;
}

.returnBtnContainer {
  width: 100%;
}

.modal {
  position: relative;
  @media (max-width: 767px) {
    height: 100%;
  }
  @media (min-width: 768px) {
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    z-index: 1000;
    position: absolute;
  }
}

.closeModalBtn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
  @media (min-width: 768px) {
    display: inline-block;
  }
}